/* Background image */
.container16 {
  background-image: url('./adminsa.jpg');
  padding: 30px;
  background-position:center;
  background-size: auto;
  background-attachment: fixed;
  
}



.login16-container16 {
  max-width: 400px;
  margin: 0 auto; 
  padding: 70px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.form16-group16 {
  margin-bottom: 25px;
 
}

.forgot16-password16 {
  text-align: center;
  margin-top: 10px;
}

.forgot16-password16 a {
  color: #888;
  text-decoration: underline;
}

.forgot16-password16 a:hover {
  color: #444;
}

input[type="text9"],
input[type="password9"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #c4bdbd;
  background-color: #3c3d3d;
}
