.login16-container16 {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.form16-group16 {
  margin-bottom: 15px;
}

.forgot16-password16 {
  text-align: center;
  margin-top: 10px;
}

.forgot16-password16 a {
  color: #888;
  text-decoration: underline;
}

.forgot16-password16 a:hover {
  color: #444;
}

/* Background image */
.login16-container16 {
  background-image: url('./adminsa3.jpg');
 
  height: 100%;
  width: 100%;
}
