body {
    background-image: url('terms1.png'); /* Replace 'background.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Optional: This will make the background image fixed while scrolling */
}
.clr{
    color: whitesmoke;
}
#abc{
text-align: justify;
padding: 100px;
}
