.system9 {
  font-family: Arial, sans-serif;
  /*background: linear-gradient(to bottom, #ff7e5f, #feb47b); */
  background: url('as1.avif') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3% ;
}
.container9{
  background-color: rgb(152, 203, 200);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 800px;
  
}

#crossButton9 {

    position: absolute;
    top:6%;
    right:18.5%;
    font-size: 11px;
    background: rgb(152, 203, 200);
    border: none;
    cursor: pointer;
    color: #060606; 
    width: 3%;
    
  
}

.txt9 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}
label {
  font-weight: bold;
  color: #555;
}



textarea {
  width: 100%;
  height: 900px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #96bbc3;
  border-radius: 5px;
  background-color: #dbf3f1;
}
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#da {
  width: 100%;
  padding: 12px;
  margin: 20px 0 10px;
  border: none;
  border-radius: 5px;
  background-color: #297a48;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
#da:hover {
  background-color: #279b69;
}

#d {
  width: 10%;
  padding: 11px;
  margin: 10px 0 0px;
  border: none;
  border-radius: 49px;
  background-color: #a7b53c;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  
}
#d:hover{
  background-color: #d2df70;
}
.preview-container9 {
  max-width: 200px; /* Adjust the maximum width as needed */
  max-height: 200px; /* Adjust the maximum height as needed */
  overflow: hidden;
  margin-bottom: 10px;
}
.preview-image {
  max-width: 100%;
  max-height: 100%;
}
.preview-video,
.preview-audio {
  width: 100%;
}