/* Default margin for larger screens */
.responsive-card {
    margin-left: -150px;
}

/* Media query for smaller screens */
@media (max-width: 992px) {
    .responsive-card {
        margin-left: 0; /* Reset margin for smaller screens */
    }
}
.mainbody1{
    background-color: aliceblue;
}